$header-scrolled-height: 50px;

.manage-preferences-page__header-wrapper {
    border-bottom: 1px solid $border-color;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: 0.5s;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    padding: $gutter;
    height: #{$header-height - $gutter};
}

.manage-preferences-page__header {
    @include container;
    display: block;
    height: 100%;
    padding: 0;
}

.manage-preferences-page__header__logo {
    max-width: 100%;
    max-height: 100%;
}

.manage-preferences-page__header-wrapper--scrolled {
    height: $header-scrolled-height;
    padding-bottom: $gutter;
}

@media only screen and (min-width: 350px) {
    .manage-preferences-page__header-wrapper {
        height: $header-height;
    }

    .manage-preferences-page__header-wrapper--scrolled {
        height: $header-scrolled-height;
    }
}
