// scss-lint:disable QualifyingElement
// Qualifying Elements needed to override tag selectors in r-table
@import 'r-table';

$manage-preferences-border-bottom-color: #EEEEEE;
$manage-preferences-table-cell-padding: $gutter;

.manage-preferences {
    @include container;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: $font-color-text;
}

.manage-preferences__heading {
    font-size: 2em;
    color: $font-color-text;
    font-weight: 300;
    margin: 0;
}

.manage-preferences__update-fieldset {
    @include container;
    text-align: right;
    padding: 0;
}

.manage-preferences__table {
    @include r-table();

    width: 100%;
    margin-bottom: 1em;
    border-bottom: 1px solid $border-color;

    thead {
        display: block;
        width: 100%;
        overflow: hidden;
    }

    tbody {
        display: block;
        width: 100%;
        overflow: hidden;
    }

    td, th {
        padding: 0.5em;
    }

    tr {
        border: 1px solid $border-color;
        border-bottom: 0;
        &:first-child {
            border-top: 0;
        }
        &:nth-child(even) {
            background-color: $border-color-light;
        }
    }

    label {
        display: inline-block;
        padding-right: 10px;
        white-space: nowrap;
        width: 65px;
        text-align: left;
    }

}

td.manage-preferences__category-cell,
td.manage-preferences__sub-category-cell {
    font-weight: 400;
    white-space: normal;
}

td.manage-preferences__category-cell {
    font-size: 1.2em;
    padding-right: 2.5em;
    position: relative;
    padding-left: $gutter;
    border-top: 1px solid $border-color;
    &:before {
        content: 'Category:';
        width: auto;
        position: static;
    }
}

td.manage-preferences__sub-category-cell {
    padding-left: $gutter * 2;
}

th.manage-preferences__header--category {
    font-weight: 400;
    display: none;
}

th.manage-preferences__header--category,
td.manage-preferences__empty-cell {
    width: 85px;
}

td.manage-preferences__empty-cell {
    display: none;
}

.manage-preferences__header--sms,
.manage-preferences__header--email,
.manage-preferences__header--letter,
td.manage-preferences__letter-cell,
td.manage-preferences__sms-cell,
td.manage-preferences__email-cell {
    width: 15%;
    padding-left: $gutter * 3;
    @media only screen and (min-width: 625px) {
        width: 10%;
    }
}

.manage-preferences__update-button {
    border-radius: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    color: $font-color-table-header;
    background-color: $button-color;
    padding: 0.75em 0.8em;
    cursor: pointer;
    &:hover {
        background-color: $button-color-hover;
    }
}

.manage-preferences__toggle-category-button {
    .lt-ie10 & {
        // ie9 will not height a tbody, hide the button
        display: none;
    }
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    border: 2px solid $icon-color;
    background-color: $font-color-table-header;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    text-indent: 3em;
    white-space: nowrap;
    margin: 0;
    cursor: pointer;
    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 3px;
        right: 3px;
        top: 5px;
        bottom: 1px;
        margin: 0;
        transform: rotate(0deg);
        background: url('/images/Chevron_down_font_awesome.svg') 50% 50% no-repeat;
        background-size: contain;

        transition: 0.4s;
        .is-closed & {
            transform: rotate(90deg);
            top: 3px;
            bottom: 3px;
            margin-left: -2px;
        }
    }
}

.manage-preferences__expand-all-button,
.manage-preferences__collapse-all-button {
    .lt-ie10 & {
        // ie9 will not height a tbody, hide the button
        display: none;
    }
    display: inline-block;
    margin: 1em;
    padding: 0;
    background: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.8em;
    color: $font-color-text;
    cursor: pointer;
    border: 0;
    &:before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-right: 2px;
        background: url('/images/Chevron_down_font_awesome.svg') 50% 50% no-repeat;
        background-size: contain;
    }
}

.manage-preferences__expand-all-button {
    margin-left: 0;
}

.manage-preferences__collapse-all-button:before {
    transform: rotate(90deg);
}

@media only screen and (min-width: 525px) {
    .manage-preferences__table {
        @at-root {
            table#{&} {
                display: block;
            }
        }

        thead {
            display: block;
            tr {
                position: static;
            }
        }

        tr {
            display: table;
            table-layout: fixed;
            border-collapse: collapse;
            width: 100%;
            border: 0;
        }

        td, th {
            display: table-cell;
            border: 1px solid $border-color;
            border-bottom: 0;
        }

        th {
            font-weight: 400;
        }

        label {
            display: none;
        }
    }

    td.manage-preferences__category-cell {
        border-top: 1px solid $border-color;
    }

    td.manage-preferences__sub-category-cell {
        padding-left: $gutter;
    }

    td.manage-preferences__letter-cell,
    td.manage-preferences__sms-cell,
    td.manage-preferences__email-cell {
        text-align: center;
        padding-left: $gutter;
    }

    td.manage-preferences__empty-cell {
        display: table-cell;
    }
}
