// scss-lint:disable QualifyingElement

@mixin r-table() {

    // https://css-tricks.com/responsive-data-tables/

    width: 100%;

    /* Force table to not be like tables anymore */
    @at-root {
        table#{&} {
            display: block;
        }
    }
    thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    td {
        /* Behave  like a 'row' */
        border: 0;
        position: relative;
        padding-left: $manage-preferences-table-cell-padding * 3;
        white-space: nowrap;
        text-align: left;
    }

    td:before {
        /* Now like a table header */
        /* Top/left values mimic padding */
        display: inline-block;
        //padding-right: 10px;
        white-space: nowrap;
        width: 65px;
        text-align: left;
    }

    input, select {
        display: inline-block;
    }

}
