$border-color: #D0D5D9;
$border-color-light: #E6E6E6;

$font-color-text: #4C5F6D;
$font-color-table-header: #FFFFFF;
$icon-color: #666666;

$theme-primary: #1F67A6;

$error-bg-color: #F9EDB8;
$error-border-color: #EDC967;

$button-color: $theme-primary;
$button-color-hover: #253D62;

$gutter: 10px;
$header-height: 70px;
