@import 'variables';
@import 'mixins';
@import 'manage-preferences';
@import 'header';

.error {
    background-color: $error-bg-color;
    border: 1px solid $error-border-color;
    color: $font-color-text;
    padding: 0.5em;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: $header-height 0 0;
}
