<!doctype html>
<!--[if IE 9]>         <html class="lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Manage Preferences</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="/styles/Style.css" >-->
    <link rel="stylesheet" href="/styles/main.css">
    <script language="javascript">
        //Global variable - All required Methods/Properties are added into this "App"
        var App = App || {};
        //Setting  App level global variables obtained from Query String or Form post (these values are set from the code behind)
        //(these are used in UI as well as Service.js)
        App.ObjectId = "1";
        App.ObjectType = "3";
        App.TokenString = "";

    </script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/handlebars/dist/handlebars.min.js"></script>
    <script src="/scripts/Service.js"></script>
    <script src="/scripts/ContactPreferences.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,400,300' rel='stylesheet' type='text/css'>
</head>
<body>


<script type="text/x-handlebars-template" id="manage-preferences-template">
    <table class="manage-preferences__table">
        <thead>
        <tr>
            <th class="manage-preferences__header--category" id="CategoryLabel">Category</th>
            <th class="manage-preferences__header--group" id="GroupLabel">Group</th>
            <th class="manage-preferences__header--email" id="EmailLabel">Email</th>
            <th class="manage-preferences__header--sms" id="SmsLabel">SMS</th>
            <th class="manage-preferences__header--letter" id="LetterLabel">Letter</th>
        </tr>
        </thead>
        {{#each preferenceCategoriesField}}
        <tbody>
        <tr>
            <td colspan="5" class="manage-preferences__category-cell">
                {{nameField}}
                <button class="manage-preferences__toggle-category-button">toggle category</button>
            </td>
        </tr>
        {{#each preferenceGroupsField}}
        <tr data-rowId="{{rowId RowId}}" data-categoryId="{{../idField}}" data-groupId="{{idField}}">
            <td class="manage-preferences__empty-cell"></td> <!--empty row-->
            <td class="manage-preferences__sub-category-cell" id="SubCategory--{{idField}}">{{nameField}}</td>

            <td data-pid="EMAIL" class="manage-preferences__email-cell">
                <label for="id-{{rowId RowId}}__cat-{{../idField}}__group-{{idField}}__Email">Email</label>
                <input aria-labelledby="EmailLabel SubCategory--{{idField}}"
                       type="checkbox"
                       {{checked Email true }}
                       id="id-{{rowId RowId}}__cat-{{../idField}}__group-{{idField}}__Email"
                       name="id-{{rowId RowId}}__cat-{{../idField}}__group-{{idField}}__Email"/>
            </td>
            <td data-pid="SMS" class="manage-preferences__sms-cell">
                <label for="id-{{rowId RowId}}__cat-{{../idField}}__group-{{idField}}__Sms">SMS</label>
                <input aria-labelledby="SmsLabel SubCategory--{{idField}}"
                       type="checkbox"
                       {{checked Sms true }}
                       id="id-{{rowId RowId}}__cat-{{../idField}}__group-{{idField}}__Sms"
                       name="id-{{rowId RowId}}__cat-{{../idField}}__group-{{idField}}__Sms"/>
            </td>
            <td data-pid="LETTER" class="manage-preferences__letter-cell">
                <label for="id-{{rowId RowId}}__cat-{{../idField}}__group-{{idField}}__Letter">Letter</label>
                <input aria-labelledby="LetterLabel SubCategory--{{idField}}"
                       type="checkbox"
                       {{checked Letter true }}
                       id="id-{{rowId RowId}}__cat-{{../idField}}__group-{{idField}}__Letter"
                       name="id-{{rowId RowId}}__cat-{{../idField}}__group-{{idField}}__Letter"/>
            </td>
        </tr>
        {{/each}}
        </tbody>
        {{/each}}
    </table>
</script>

<form method="post" action="./Manage Preferences_files/Manage Preferences.html" id="formManagePreferences">
    <div class="aspNetHidden">
        <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE"
               value="aYsTX/edj5CWQMqkdmenFSHZH2KlbfEjwkUr6GmQPCYdY8QcngMPnt9LD1lrU6Ho1WEwQCxqX26FuK7TiSHhnIwdENgXXhj7oycEFYvbh9o=">
    </div>

    <div class="aspNetHidden">
        <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="780D315F">
    </div>

    <div class="manage-preferences-page__header-wrapper">
        <header class="manage-preferences-page__header">
            <img src="images/cuLogo_v1.png" alt="Campus University" class="manage-preferences-page__header__logo">
        </header>
    </div>

    <div id="ContactPreferencesSection" class="PreferencesSection manage-preferences">
        <h1 class="manage-preferences__heading">Manage Preferences</h1>
        <div class="manage-preferences__toggle-all-button-group">
            <button class="manage-preferences__expand-all-button">Expand All</button>
            <button class="manage-preferences__collapse-all-button">Collapse All</button>
        </div>
        <div id="PreferencesTable"></div>

        <div class="UpdateDiv manage-preferences__update-fieldset">
            <input class="UpdateButton manage-preferences__update-button" type="button" id="updatePreferences"
                   name="Update" value="Update Preferences">
        </div>
    </div>
</form>

</body>
</html>
