﻿body {
}


table, th, td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
            word-wrap: break-word;
            word-break: break-all;
        }

            table tr:nth-child(odd) {
                background-color: #f1f1f1;
            }

            table tr:nth-child(even) {
                background-color: #ffffff;
            }

        h1 {
            color: darkblue;
        }

        .trCategory {
            background-color: lightblue;
        }

        .tdEmailSmsLetter {
            width: 10%;
            text-align: -webkit-center;
        }

        .header {
            color: darkblue;
            font-weight: bold;
        }
/*.frozenRow {
    position: fixed;
  top: 70px;
}*/

        .otherFonts {
            color: darkblue;
        }

        .PreferencesSection {
            position: relative;

            width: 95%;
            height: 525px;
            overflow: auto;
        }

        .UpdateDiv {
            /*margin-right: 10px;
            margin-bottom: 50px;*/
            width: 95%;
            
        }

        .UpdateButton {
            float: right;
            position: relative;
            top: 10px;
        }

        .yesno {
            width: 75px;
        }